<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="forms-wrapper">
    <h1>Subir Archivos y Escribir Texto</h1>

    <div class="top-forms-container">
        <!-- Formulario para subir archivo -->
        <form id="fileForm" action="/procesar" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Subir Archivo</legend>
                <input type="file" id="archivo" name="archivo" accept="image/*, .pdf, .txt, .doc"><br><br>
                <button type="submit">Analizar</button>
            </fieldset>
        </form>

        <!-- Formulario para escribir texto -->
        <form id="textForm" action="/procesardatos" method="post">
            <fieldset>
                <legend>Escribir Texto</legend>
                <textarea id="mensaje" name="mensaje" rows="7" cols="60" placeholder="Escribe tu texto aquí"></textarea><br><br>
                <button type="submit">Analizar</button>
            </fieldset>
        </form>
    </div>

    <!-- Resultado del análisis -->
    <fieldset class="results-fieldset">
        <legend>Resultados del Análisis</legend>
        <label for="resultadosAnalisis">Salida:</label><br>
        <textarea id="resultadosAnalisis" name="resultadosAnalisis" rows="15" cols="80" readonly placeholder="Texto analizado"></textarea>
    </fieldset>

</div>

<script>
    // Para manejar el formulario de archivo
    document.getElementById('fileForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Previene el envío normal del formulario

        var formData = new FormData(this);  // Crea un FormData con los datos del archivo

        fetch('/procesar', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())  // Recupera la respuesta del servidor como texto
            .then(data => {
                document.getElementById('resultadosAnalisis').value = data;  // Muestra el resultado del análisis en el área de texto
            })
            .catch(error => console.error('Error al analizar el archivo:', error));
    });

    // Para manejar el formulario de texto
    document.getElementById('textForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Previene el envío normal del formulario

        var formData = new FormData(this);  // Crea un FormData con el texto ingresado

        fetch('/procesardatos', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())  // Recupera la respuesta del servidor como texto
            .then(data => {
                document.getElementById('resultadosAnalisis').value = data;  // Muestra el resultado del análisis en el área de texto
            })
            .catch(error => console.error('Error al analizar el texto:', error));
    });
</script>

</body>
</html>